/* CSS bij eventologus */
@import"reset.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

html{
    min-height: 100%;
    position: relative;
}

body{
    font: 100%/1.4;
    color: #5A6A83;
    position: static;
    font-family: "Raleway" ;
}

main{padding-bottom: 110px;}

.container{
    max-width: 80%;
    margin: 0 auto;
}

/* Catnav stijlen------------------------------------------------------------------------------------------------------------------------------------------------------ */

.categorieën_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categorieën_list li{
    display: block;
    text-align: center;
}

.categorieën_list li a{
    text-decoration: none;
    padding: 1.5em 0;
    color: #5A6A83;
    display: block;
}

.categorieën_list li a:hover{
    border-bottom: 1px solid #5A6A83;
}

@media screen and (min-width: 1000px){
    html{zoom: 100%;}

    .categorieën_list{display: flex;}

    .categorieën_list li{flex-grow: 1;}

    .categorieën_list li a{padding: 1.5em 0;}
}

/* Messages stijlen------------------------------------------------------------------------------------------------------------------------------------------------------ */

div.message{
    background: #5A6A83;
    color: #CBDEF4;
    text-align: center;
    padding: 1em 0;
}



/* Nav stijlen -------------------------------------------------------------------------------------- */

header{
    min-height: 100px;
    background-image: url(../images/shutterstock_538256848.jpg);
    background-position: 0 -150px;
}

#header{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header h2{
    color: #CBDEF4;
    font-size: 2rem;
    background: rgba(71, 100, 132, 0.8);
    padding: .2em;
    border-radius: 5px;
    margin-top: .5em;
}

header a{
    text-decoration: none;
    display: block;
}

nav#mainnav{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav#mainnav ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav#mainnav ul li a{
    color: #444;
    padding: .5em;
    background: #CBDEF4;
    margin: .5em;
    border-radius: 5px;
    text-decoration: none;
    transition: 500ms all;
    text-align: center;
}

nav#mainnav ul li a:hover{
    background: #5A6A83;
    color: #cbdef4;
}

#actievepagina{
    background: #5A6A83;
    color: #cbdef4;
}

@media screen and (min-width: 1000px) {
    #header{
        flex-direction: row;
    }

    nav#mainnav{
        justify-content: flex-end;
    }

    nav#mainnav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav#mainnav ul li a{padding: 1em;}

    #header h2{ margin: 0; }
}

/* Main stijlen -------------------------------------------------------------------------------------- */

main h2{
    text-align: center;
}

.titel{
    font-size: 1.3rem;
    margin: 1.2em 0 .8em 0;
}

.undertitle{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1px;
    border: 1px solid #CBDEF4;
    border-radius: 5px;
    padding: .5em 0;
    grid-row-gap: 1em;
}

.contcontainer{
    margin-top: 1em;
}

.contdetail{
    min-height: 71vh;
    display: flex;
    align-items: center;
}

h2{
    font-size: 1.5rem;
    margin-top: 1em;
}

.content a img{
    margin: 0 auto;
    width: 80%;
    height: 40%;
}

.maintitle{
    font-size: 1.8rem;
    font-weight: 700;
    padding: .8em 0 .5em 0;
}

.center h2{
    font-size: 1.5rem;
}

.center{
    text-align: center;
}

.datum{color: orangered;}

.datum, .tickets{
    text-align: center;
    padding: 1em 0;
}

.beschrijving{ border-bottom: 1px solid #CBDEF4; }



@media screen and (min-width: 1000px){
    .undertitle{ grid-template-columns: repeat(3,1fr); }
    .beschrijving{border-bottom: none;}
    .content a img{
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 1030px){
    .content a img{
        width: 250px;
        height: 200px;
    }
}

.button button{
    margin-left: 9em;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background: lightgreen;
    border-radius: 5px;
    color: #5A6A83;
    cursor: pointer;
    transition: background 500ms ;
}

.button button:hover{
    background: palegreen;
    border: forestgreen 1px solid;
}

/* Detail stijlen------------------------------------------------------------------------------------------------------------------------------------------------------ */

.detail{
    padding: 0;
}

.detail img{
    width: 90%;
    margin: 0 auto;
}

.detail h1{
    text-align: center;
}


.detail p{
    padding: 1em;
    line-height: 25px;
    text-align: center;
}

.detail p:first-of-type{ padding: 0; }

.date{padding: 0}

.adres {
    margin: 1em 0;
}
.adres h2{
    margin: 0;
}

.adres p{
    padding: .3em 0;
    font-weight: 600;
    color: #5A6A83;
}
.adres p:first-of-type{padding-top: 1em;}

.social{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
    text-align: center;
    max-width: 100%;
}

.social .fab,
.fas{
    margin: 0 .5em;
    color: #5A6A83;
    transition: color 500ms ease;
    text-decoration: none;
    font-size: 3rem;
}

.fab:hover, .fas:hover{ color: #444444; }

/* Contact stijlen -------------------------------------------------------------------------------------- */

.contactform h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .5em;
    font-weight: 700;
}

.contcontainerform{
    margin: auto auto;
}

.contactform p{
    text-align: center;
    margin-bottom: 1em;
    font-weight: 200;
    font-size: 1.1rem;
}

.contactform{
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
}

.contactform .invul{
    margin-top: 1em;
}

.contactform .invul input,
.contactform .invul textarea
{
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #8CA2B5;
    border-radius: 5px;
    min-height: 2.5em;
}

.contactform .button button{
    margin: 2em 0;
    width: 100%;
    height: 30px;
}

@media screen and (min-width: 700px){

    .contcontainerform{
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1000px){
    .contcontainerform{ width: 40%;}
}

/* Login stijlen -------------------------------------------------------------------------------------- */

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.invul input,
.invul textarea{
    width: 100%;
    margin: 1em 0 2em 0;
    border: 1px solid #8CA2B5;
    border-radius: 5px;
    padding: 1em .5em;
}

.form h1{
    font-size: 1.5rem;
    margin: 1em 0;
    text-align: center;
    font-weight: 700;
}

.form p{
    text-align: center;
    margin-top: 1em;
}

.form input[type="submit"]{
    cursor: pointer;
    border-radius: 5px;
    background: white;
    height: 30px;
}

@media screen and (min-width: 1000px) {
    .form{width: 100%;}
}

/* Beheer stijlen -------------------------------------------------------------------------------------- */

.beheerbutton button{
    border: none;
    background: lightgreen;
    border-radius: 5px;
    color: #5A6A83;
    cursor: pointer;
    transition: background 500ms ;
    padding: 1em;
}

.beheerbutton button:hover{
    background: palegreen;
    border: forestgreen 1px solid;
}

.verwijder{
    background: orangered;
    padding: 1em;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 1em 0;
    text-align: center;
    transition: background 500ms;
}

.verwijder:hover{ background: darkred; }

.afbeelding,
.toevoegen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.afbeelding img,
.toevoegen img {
    width: 250px;
    border-radius: 5px;
    padding-top: 1em;
}

.invul textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
}
.invul #display {
    margin: 1em 0;
    border-radius: 5px;
    width: 30%;
    max-width: 50%;
}

.invul input[type=file] { display: none;}

#loc_straat{width: 70%;}
#loc_nr{width: 14%;}
#loc_pos_id,
#cev_cat_id{
    width: 14%;
    height: 37px;
    margin: 1em 0 2em 0;
    border-radius: 5px;
}

#eve_minprijs,
#eve_maxprijs,
#eve_begindatum,
#eve_einddatum,
#eve_opening,
#eve_sluiting{width: 49%;}
.geen_eve{
    margin: 1em 0;
    font-size: 1.2rem;
}

.socialemedia .linksdiv { display: flex; }

.linksdiv label {
    margin-top: 1em;
    padding-top: 10em;
}

.socialemedia legend { margin-bottom: 1em;}

.socialemedia input:last-of-type { margin-bottom: 2em; }

.socialemedia div {
    width: 100%;
    margin-right: 1em;
}

.checkbox{
    display: flex;
    align-items: center;
    margin: 1em 0 .5em 0;
}


.checkbox input {
    width: 20px;
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 1000px) {
    .beheer{
        display: flex;
        flex-direction: row;
        background: #CBDEF4;
        border-radius: 5px;
    }
    .afbeelding,
    .toevoegen{width: 30%;}

    .afbeelding img,
    .toevoegen img{
        width: 300px;
        padding-left: .5em;
    }

    .wijzig{
        width: 100%;
        margin: 1em auto;
    }

    .wijzigform{ padding: 0 3em; }

    .aanmaakform{
        width: 60%;
        margin: 0 auto;
    }

    .detail{
        display: flex;
        flex-direction: row;
    }

    .detail .foto{
        display: flex;
        align-items: center;
    }

    .detail img{
        width: 400px;
        border-radius: 5px;
    }

    .social{ padding-top: 2em; }

    .rest .besch{
        column-count: 2;
        text-align: left;
    }
}
/* Footer stijlen -------------------------------------------------------------------------------------- */

footer{
    background: #CBDEF4;
    padding: 1em;
    min-height: 100px;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}