<main>
    <section class="container">
        <section class="contcontainer beheer">
            <section class="afbeelding">
                <img src="images/ccccouler.jpg" alt="image">
                <a class="verwijder" href="#">Verwijder evenement</a>
            </section>
            <section class="wijzig">
                <form action="lib/wijzig.php" class="wijzigform">
                    <div class="invul">
                        <label for="eve_naam">Naam</label>
                        <input type="text" name="eve_naam" id="eve_naam" placeholder="Naam...">
                    </div>
                    <div class="invul">
                        <label for="eve_locatie">Locatie</label>
                        <input type="text" name="eve_locatie" id="eve_locatie" placeholder="Locatie...">
                    </div>
                    <div class="invul">
                        <label for="eve_minprijs">Min. prijs</label>
                        <input type="text" name="eve_minprijs" id="eve_minprijs" placeholder="Minimum...">
                    </div>
                    <div class="invul">
                        <label for="eve_maxprijs">Max. prijs</label>
                        <input type="text" name="eve_maxprijs" id="eve_maxprijs" placeholder="Maximum...">
                    </div>
                    <div class="invul">
                        <label for="eve_begindatum">Begindatum</label>
                        <input type="text" name="eve_begindatum" id="eve_begindatum" placeholder="Begindatum...">
                    </div>
                    <div class="invul">
                        <label for="eve_einddatum">Einddatum</label>
                        <input type="text" name="eve_einddatum" id="eve_einddatum" placeholder="Einddatum...">
                    </div>
                    <div class="invul">
                        <label for="eve_opening">Beginuur</label>
                        <input type="text" name="eve_opening" id="eve_opening" placeholder="Beginuur...">
                    </div>
                    <div class="invul">
                        <label for="eve_beschrijving">Beschrijving</label>
                        <textarea name="eve_beschrijving" id="eve_beschrijving"></textarea>
                    </div>
                    <div class="beheerbutton">
                        <button type="submit" value="Wijzigingen toepassen">Wijzigingen toepassen</button>
                    </div>
                </form>
            </section>
        </section>
        <section class="contcontainer beheer">
            <section class="toevoegen">
                <img src="images/ccccouler.jpg" alt="image">
                <a class="toevoegenbutton" href="#">Voeg afbeelding toe</a>
            </section>
            <section class="wijzig">
                <form action="lib/aanmaken.php" class="wijzigform">
                    <div class="invul">
                        <label for="eve_naam">Naam</label>
                        <input type="text" name="eve_naam" id="eve_naam" placeholder="Naam...">
                    </div>
                    <div class="invul">
                        <label for="eve_locatie">Locatie</label>
                        <input type="text" name="eve_locatie" id="eve_locatie" placeholder="Locatie...">
                    </div>
                    <div class="invul">
                        <label for="eve_minprijs">Min. prijs</label>
                        <input type="text" name="eve_minprijs" id="eve_minprijs" placeholder="Minimum...">
                    </div>
                    <div class="invul">
                        <label for="eve_maxprijs">Max. prijs</label>
                        <input type="text" name="eve_maxprijs" id="eve_maxprijs" placeholder="Maximum...">
                    </div>
                    <div class="invul">
                        <label for="eve_begindatum">Begindatum</label>
                        <input type="text" name="eve_begindatum" id="eve_begindatum" placeholder="Begindatum...">
                    </div>
                    <div class="invul">
                        <label for="eve_einddatum">Einddatum</label>
                        <input type="text" name="eve_einddatum" id="eve_einddatum" placeholder="Einddatum...">
                    </div>
                    <div class="invul">
                        <label for="eve_opening">Beginuur</label>
                        <input type="text" name="eve_opening" id="eve_opening" placeholder="Beginuur...">
                    </div>
                    <div class="invul">
                        <label for="eve_beschrijving">Beschrijving</label>
                        <textarea name="eve_beschrijving" id="eve_beschrijving"></textarea>
                    </div>
                    <div class="beheerbutton">
                        <button type="submit" value="Wijzigingen toepassen">Voeg evenement toe</button>
                    </div>
                </form>
            </section>
        </section>
    </section>
</main>