<section class="contcontainer">
    <div class="titel">
        <h2>Conventies</h2>
    </div>
    <section class="undertitle">
        <div class="content">
            <a href="#">
                <img src="images/ccccouler.jpg" alt="couleur">
            </a>
            <div class="beschrijving">
                <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                <div class="center">
                    <h2>Couleur Café</h2>
                    <p class="locatie">Tour & Taxis, Brussel</p>
                </div>
                <p class="tickets">Tickets vanaf: €80 VAT</p>
            </div>
        </div>
        <div class="content">
            <a href="#">
                <img src="images/ccccouler.jpg" alt="couleur">
            </a>
            <div class="beschrijving">
                <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                <div class="center">
                    <h2>Couleur Café</h2>
                    <p class="locatie">Tour & Taxis, Brussel</p>
                </div>
                <p class="tickets">Tickets vanaf: €80 VAT</p>
            </div>
        </div>
        <div class="content">
            <a href="#">
                <img src="images/ccccouler.jpg" alt="couleur">
            </a>
            <div class="beschrijving">
                <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                <div class="center">
                    <h2>Couleur Café</h2>
                    <p class="locatie">Tour & Taxis, Brussel</p>
                </div>
                <p class="tickets">Tickets vanaf: €80 VAT</p>
            </div>
        </div>
    </section>
</section>