<section class="contcontainerform content">
    <section class="contactform">
        <h1>Stel ons een vraag</h1>
        <p>Wil jij ons contacteren? Vul het onderstaande formulier in en wij antwoorden zo snel mogelijk.</p>
        <form method="post" action="lib/contact.php">
            <input type="hidden" id="formname" name="formname" value="contact_form">
            <div class="invul">
                <label for="naam">Naam</label>
                <input type="text" id="naam" name="naam" placeholder="Naam..." required>
            </div>
            <div class="invul">
                <label for="voornaam">Voornaam</label>
                <input type="text" id="voornaam" name="voornaam" placeholder="Voornaam..." required>
            </div>
            <div class="invul">
                <label for="email">E-mailadres</label>
                <input type="email" id="email" name="email" placeholder="voorbeeld@voorbeeld.be" required>
            </div>
            <div class="invul">
                <label for="vraag">Vraag</label>
                <textarea name="vraag" id="vraag" cols="30" rows="10" placeholder="Vraag..." required></textarea>
            </div>
            <div class="button">
                <button type="submit" name="submit" value="submit">Stel je vraag</button>
            </div>
        </form>
    </section>
</section>