<div class="content detail">

    <div class="foto">
        <p class="tickets">@@prijs@@</p>
        <img class="detailimage" src="images/@@eve_image@@"  alt="@@eve_naam@@ foto" >
    </div>
    <div class="rest">
        <h1 class="maintitle">@@eve_naam@@</h1>
        <p class="date">@@begin_format@@ - @@eind_format@@</p>

        <div class="adres">
            <h2>Locatie</h2>
            <p>@@loc_gebouw@@, @@loc_straat@@ @@loc_nr@@</p>
            <p>@@pos_code@@, @@pos_gemeente@@</p>
        </div>

        <div class="detbeschrijving">
            <h2>Organisator</h2>
            <p>@@use_organisator@@</p>
        </div>

        <div class="detbeschrijving">
        <h2>Beschrijving</h2>
        <p class="besch">@@eve_beschrijving@@</p>
        </div>
