<label for="loc_gebouw" hidden>Gebouw</label>
<input id="loc_gebouw" placeholder="Gebouw..." name="loc_gebouw">
</fieldset>
</div>
<div class="invul">
    <fieldset>
        <legend>Prijs (zonder €-teken)</legend>
        <label for="eve_minprijs" hidden>Min. prijs</label>
        <input type="text" name="eve_minprijs" id="eve_minprijs" placeholder="Minimum..." >
        <label for="eve_maxprijs" hidden>Max. prijs</label>
        <input type="text" name="eve_maxprijs" id="eve_maxprijs" placeholder="Maximum..." >
    </fieldset>
</div>
<div class="invul">
    <fieldset>
        <legend>Datum</legend>
        <label for="eve_begindatum" hidden>Begindatum</label>
        <input type="date" name="eve_begindatum" id="eve_begindatum" placeholder="Begindatum..." >
        <label for="eve_einddatum" hidden>Einddatum</label>
        <input type="date" name="eve_einddatum" id="eve_einddatum" placeholder="Einddatum..." >
    </fieldset>
</div>
<div class="invul">
    <fieldset>
        <legend>Tijd</legend>
        <label for="eve_opening" hidden>Beginuur</label>
        <input type="time" name="eve_opening" id="eve_opening" placeholder="Beginuur...">
        <label for="eve_sluiting" hidden>Einduur</label>
        <input type="time" name="eve_sluiting" id="eve_sluiting" placeholder="Sluituur...">
    </fieldset>
</div>
<div class="invul">
    <fieldset class="socialemedia">
        <legend>Links</legend>
        <div class="linksdiv">
        <div>
            <label for="site">Website</label>
            <input type="text" name="site" id="site" placeholder="www.website.com">
            <label for="ticket">Ticket</label>
            <input type="text" name="ticket" id="ticket" placeholder="www.ticket.com">
            <label for="fb">Facebook</label>
            <input type="text" name="fb" id="fb" placeholder="www.facebook.com">
        </div>
        <div>
            <label for="insta">Instagram</label>
            <input type="text" name="insta" id="insta" placeholder="www.instagram.com">
            <label for="twitter">Twitter</label>
            <input type="text" name="twitter" id="twitter" placeholder="www.twitter.com">
            <label for="youtube">Youtube</label>
            <input type="text" name="youtube" id="youtube" placeholder="www.youtube.com">
        </div>
        </div>
    </fieldset>
</div>
<div class="invul">
    <legend>Categorie</legend>