<label for="loc_gebouw" hidden>Gebouw</label>
<input id="loc_gebouw" placeholder="Gebouw..." name="loc_gebouw">
</fieldset>
</div>
<div class="invul">
    <fieldset>
        <legend>Prijs (zonder €-teken)</legend>
        <label for="eve_minprijs" hidden>Min. prijs</label>
        <input type="text" name="eve_minprijs" id="eve_minprijs" placeholder="Minimum..." >
        <label for="eve_maxprijs" hidden>Max. prijs</label>
        <input type="text" name="eve_maxprijs" id="eve_maxprijs" placeholder="Maximum..." >
    </fieldset>
</div>
<div class="invul">
    <fieldset>
        <legend>Datum</legend>
        <label for="eve_begindatum" hidden>Begindatum</label>
        <input type="date" name="eve_begindatum" id="eve_begindatum" placeholder="Begindatum..." >
        <label for="eve_einddatum" hidden>Einddatum</label>
        <input type="date" name="eve_einddatum" id="eve_einddatum" placeholder="Einddatum..." >
    </fieldset>
</div>
<div class="invul">
    <fieldset>
        <legend>Tijd</legend>
        <label for="eve_opening" hidden>Beginuur</label>
        <input type="time" name="eve_opening" id="eve_opening" placeholder="Beginuur...">
        <label for="eve_sluiting" hidden>Einduur</label>
        <input type="time" name="eve_sluiting" id="eve_sluiting" placeholder="Sluituur...">
    </fieldset>
</div>
<div class="invul">
    <fieldset class="socialemedia">
        <legend>Links</legend>
        <div class="linksdiv">
        <div>
            <label for="Website">Website</label>
            <input type="text" name="Website" id="Website" placeholder="www.website.com">
            <label for="Tickets">Ticket</label>
            <input type="text" name="Tickets" id="Tickets" placeholder="www.ticket.com">
            <label for="Facebook">Facebook</label>
            <input type="text" name="Facebook" id="Facebook" placeholder="www.facebook.com">
        </div>
        <div>
            <label for="Instagram">Instagram</label>
            <input type="text" name="Instagram" id="Instagram" placeholder="www.instagram.com">
            <label for="Twitter">Twitter</label>
            <input type="text" name="Twitter" id="Twitter" placeholder="www.twitter.com">
            <label for="Youtube">Youtube</label>
            <input type="text" name="Youtube" id="Youtube" placeholder="www.youtube.com">
        </div>
        </div>
    </fieldset>
</div>
<div class="invul">
    <legend>Categorie</legend>