</div>
<div class="invul">
    <label for="eve_beschrijving">Beschrijving</label>
    <textarea name="eve_beschrijving" id="eve_beschrijving" required></textarea>
</div>

<div class="invul">
    <label for="eve_image">Afbeelding</label>
    <img src="images/placeholder.png" onclick="triggerClick()" id="display">
    <input type="file" name="eve_image" onchange="displayImage(this)" id="eve_image">
</div>

<div class="beheerbutton">
    <button type="submit" name="aanmaakbutton" value="Aanmaken">Evenement aanmaken</button>
</div>
</form>
</section>
</section>

<script src="js/scripts.js"></script>