<h2 class="maintitle">Evenement aanmaken</h2>

<section class="contcontainer beheer">

    <section class="wijzig">
        <form action="lib/processForm.php" method="post" id="eve_aanmaken" enctype="multipart/form-data" class="aanmaakform">
<!-- bevestiging van upload naar database -->
            <!--            <?php if(!empty($msg)): ?>-->
<!--            <div class="alert <?php echo $css_class; ?>">-->
<!--                <?php echo $msg; ?>-->
<!--            </div>-->
<!--            <?php endif ?>-->

            <input type="hidden" id="formname" name="formname" value="eve_form">
            <input type="hidden" id="tablename" name="tablename" value="evenement">
            <input type="hidden" id="pkey" name="pkey" value="eve_id">
            <div class="invul">
                <label for="eve_naam">Naam</label>
                <input type="text" name="eve_naam" id="eve_naam" placeholder="Naam..." >
            </div>
            <div class="invul">
                <fieldset>
                    <legend>Locatie</legend>
                    <label for="loc_straat" hidden>Straat</label>
                    <input id="loc_straat" placeholder="Straat..." name="loc_straat" >
                    <label for="loc_nr" hidden>Nummer</label>
                    <input id="loc_nr" placeholder="Huisnr..." name="loc_nr" >
                    <label for="loc_pos_id" hidden>Postcode</label>
                    <input id="loc_pos_id" placeholder="Postcode..." name="postcode" >
                    <label for="loc_gebouw" hidden>Gebouw</label>
                    <input id="loc_gebouw" placeholder="Gebouw..." name="loc_gebouw">
                </fieldset>
            </div>
            <div class="invul">
                <fieldset>
                    <legend>Prijs (zonder €-teken)</legend>
                    <label for="eve_minprijs" hidden>Min. prijs</label>
                    <input type="text" name="eve_minprijs" id="eve_minprijs" placeholder="Minimum..." >
                    <label for="eve_maxprijs" hidden>Max. prijs</label>
                    <input type="text" name="eve_maxprijs" id="eve_maxprijs" placeholder="Maximum..." >
                </fieldset>
            </div>
            <div class="invul">
                <fieldset>
                    <legend>Datum</legend>
                    <label for="eve_begindatum" hidden>Begindatum</label>
                    <input type="date" name="eve_begindatum" id="eve_begindatum" placeholder="Begindatum..." >
                    <label for="eve_einddatum" hidden>Einddatum</label>
                    <input type="date" name="eve_einddatum" id="eve_einddatum" placeholder="Einddatum..." >
                </fieldset>
            </div>
            <div class="invul">
                <fieldset>
                    <legend>Tijd</legend>
                    <label for="eve_opening" hidden>Beginuur</label>
                    <input type="time" name="eve_opening" id="eve_opening" placeholder="Beginuur...">
                    <label for="eve_sluiting" hidden>Einduur</label>
                    <input type="time" name="eve_sluiting" id="eve_sluiting" placeholder="Sluituur...">
                </fieldset>
            </div>
            <div class="invul">
                <label for="eve_beschrijving">Beschrijving</label>
                <textarea name="eve_beschrijving" id="eve_beschrijving" ></textarea>
            </div>
            <div class="invul">
                <label for="eve_image">Afbeelding</label>
                <input type="file" name="eve_image" id="eve_image">
            </div>
            <div class="beheerbutton">
                <button type="submit" name="aanmaakbutton" value="Aanmaken">Evenement aanmaken</button>
            </div>
        </form>
    </section>
</section>

<script src="js/scripts.js"></script>