
<main class="container">

    <h2 class="maintitle">Uitgelicht</h2>

    <section class="contcontainer">
        <section class="undertitle">
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
        </section>
    </section>

    <h2 class="maintitle">Categorieën</h2>

    <section class="contcontainer">
        <div class="titel">
            <h2>Conventies</h2>
        </div>
        <section class="undertitle">
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
        </section>
    </section>

    <section class="contcontainer" id="laatste">
        <div class="titel">
            <h2>Festivals</h2>
        </div>
        <section class="undertitle">
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <img src="images/ccccouler.jpg" alt="couleur">
                </a>
                <div class="beschrijving">
                    <p class="datum">25 jan. 2019 - 30 jan. 2019</p>
                    <div class="center">
                        <h2>Couleur Café</h2>
                        <p class="locatie">Tour & Taxis, Brussel</p>
                    </div>
                    <p class="tickets">Tickets vanaf: €80 VAT</p>
                </div>
            </div>
        </section>
    </section>

</main>