<form method="post" action="lib/register.php">

    <input type="hidden" id="formname" name="formname" value="registration_form">
    <input type="hidden" id="tablename" name="tablename" value="user">
    <input type="hidden" id="pkey" name="pkey" value="user_id">

        <section class="contcontainerform formulier">
            <section class="form">
                <h1>Registratie</h1>
                <div class="invul">
                    <label for="use_voornaam">Voornaam</label>
                    <input type="text" name="use_voornaam" id="use_voornaam" placeholder="Voornaam..." required oninvalid="this.setCustomValidity('Gelieve je voornaam in te geven')" oninput="setCustomValidity('')">
                </div>
                <div class="invul">
                    <label for="use_achternaam">Achternaam</label>
                    <input type="text" name="use_achternaam" id="use_achternaam" placeholder="Achternaam..." required oninvalid="this.setCustomValidity('Gelieve je naam in te geven')" oninput="setCustomValidity('')">
                </div>
                <div class="invul">
                    <label for="use_geboortedatum">Geboortedatum</label>
                    <input type="date" name="use_geboortedatum" id="use_geboortedatum" placeholder="Geboortedatum..." required oninvalid="this.setCustomValidity('Gelieve je geboortedatum in te geven')" oninput="setCustomValidity('')">
                </div>
                <div class="invul">
                    <label for="use_organisator">Organisator</label>
                    <input type="text" name="use_organisator" id="use_organisator" placeholder="Organisator..." required oninvalid="this.setCustomValidity('Gelieve de naam van je organisatie in te geven')" oninput="setCustomValidity('')">
                </div>
                <div class="invul">
                    <label for="use_email">Email</label>
                    <input type="email" name="use_email" id="use_email" placeholder="voorbeeld@voorbeeld.be" required oninvalid="this.setCustomValidity('Gelieve je e-mailadres in te geven')" oninput="setCustomValidity('')">
                </div>
                <div class="invul">
                    <label for="use_wachtwoord">Wachtwoord</label>
                    <input type="password" name="use_wachtwoord" id="use_wachtwoord" placeholder="Minstens 8 karakters..." required oninvalid="this.setCustomValidity('Gelieve een wachtwoord in te geven')" oninput="setCustomValidity('')">
                </div>
                <div class="invul check">
                    <input type="checkbox" name="GDPR" id="GDPR" required oninvalid="this.setCustomValidity('Gelieve akkoord te gaan met de GDPR voorwaarden')" oninput="setCustomValidity('')">
                    <label for="GDPR">Ik ga akkoord met de GDPR voorwaarden</label>
                </div>
                <div class="invul check">
                    <input type="checkbox" name="algemene_voorwaarden" id="algemene_voorwaarden" required oninvalid="this.setCustomValidity('Gelieve akkoord te gaan met onze algemene voorwaarden')" oninput="setCustomValidity('')">
                    <label for="algemene_voorwaarden">Ik ga akkoord met de algemene voorwaarden</label>
                </div>
                <input name="registerbutton" type="submit" value="Registreer">
                <p>Al lid? <a href="login.php">Log hier in...</a></p>
            </section>
        </section>
</form>