<div class="content">
    <a href="detail.php?@@eve_id@@">
        <img src="images/@@eve_image@@" alt="@@eve_naam@@">
    </a>
    <div class="beschrijving">
        <p class="datum">@@begin_format@@ - @@eind_format@@</p>
        <div class="center">
            <a href="detail.php?@@eve_id@@"><h2>@@eve_naam@@</h2></a>
            <p class="locatie">@@loc_gebouw@@</p>
            <p>@@pos_gemeente@@</p>
        </div>
        <p class="tickets">Tickets vanaf: €@@eve_minprijs@@ VAT</p>
    </div>
</div>

